@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}
body {
  min-height: 100vh;
  display: flex;
  background: black;
  color: white;
  overflow: hidden;
  font-family: "poppins";
}
aside {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 15px;

  nav {
    display: flex;
    flex-direction: column;
  }
  a {
    padding: 20px 10px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    white-space: nowrap;
    transition: all 0.3s;

    &:hover {
      background: rgb(32, 32, 32);
    }

    @media (max-width: 870px) {
      span {
        display: none;
      }
      i {
        font-size: 20px;
      }
    }
  }

  #logo {
    width: 40px;
    display: none;
  }

  #text-logo {
    width: 130px;
  }
  @media (max-width: 870px) {
    #logo {
      display: block;
    }
    #text-logo {
      display: none;
    }
  }
}
main {
  width: 100%;
}

//header alanı

main header {
  display: flex;
  justify-content: space-between;
  padding: 24px 10px;

  @media (max-width: 870px) {
    justify-content: center;
  }

  form {
    display: flex;

    input {
      padding: 6px 12px;
      border: none;
      border-radius: 5px 0 0 5px;
      outline: none;
    }

    button {
      background: #1db954;
      height: 100%;
      padding: 0 25px;
      border: none;
      color: white;
      border-radius: 0 5px 5px 0;
      cursor: pointer;

      &:hover {
        background: #0ff15e;
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;

    @media (max-width: 870px) {
      display: none;
    }

    li {
      gap: 10px;
      padding: 5px 10px;
      border-radius: 10px;
      cursor: pointer;
      transition: background 300ms;

      &:hover {
        background: rgb(32, 32, 32);
      }
    }
  }
}

main .songs {
  background: rgb(42, 42, 42);
  height: 100%;
}

.songs #title {
  text-transform: capitalize;
  padding: 20px;
}
.songs #list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  height: 80vh;
  overflow: auto;

  @media (max-width: 600px) {
    justify-content: center;
  }

  &::-webkit-scrollbar {
    background-color: black;
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: #0e9c3f;
    border-radius: 8px;
  }

  .card {
    width: 200px;
    padding: 15px;
    background: #181818;
    border-radius: 6px;
    cursor: pointer;

    figure {
      position: relative;
      img {
        width: 100%;
        border-radius: 6px;
        margin-bottom: 10px;
      }
      #play {
        position: absolute;
        right: 10px;
        bottom: -20px;
        background: #1db954;
        opacity: 0;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: grid;
        place-items: center;
        font-size: 23px;
        transition: all 0.3s;

        &:hover {
          background: #0e9c3f;
        }
      }
    }

    &:hover #play {
      opacity: 1;
      bottom: 20px;
      transition: all 0.4s;
    }
    h4 {
      margin-bottom: 6px;
    }
  }
}

// yükleniyor
.loader {
  width: 50%;
  height: 10px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}

.loader::before {
  content: "";
  position: absolute;
  background-color: rgb(9, 188, 9);
  width: 0%;
  height: 100%;
  border-radius: 2px;
  animation: load 3.5s ease-in-out infinite;
  box-shadow: rgb(9, 188, 9) 0px 2px 29px 0px;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

@keyframes load {
  50% {
    width: 100%;
  }

  100% {
    right: 0;
    left: unset;
  }
}
